@using BlogSystem.ViewModels

@model CommentViewModels

<h2>Create Comment</h2>

@using (Html.BeginForm("Create", "Comment", FormMethod.Post))
{
    <div>
        @Html.LabelFor(model => model.Message)
        @Html.TextAreaFor(model => model.Message, new { @class = "form-control" })
    </div>

    <input type="submit" value="Add" />
}